body {
    display: flex;
    flex-direction: column-reverse;
    height: 98vh;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../assets/konoha.jpg) ;
}

div {
    display: flex;
    height: 400px;
    width: 50%;
}

img {
    height: 200px;
    position: relative;
}

#audio {
    visibility: hidden;
}
